{% load i18n %}
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/zad1.js"></script>
<script src="static/js/zad2.js"></script>
<script src="static/js/functions.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="/static/css/styles_main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="/papa/static/js/jquery-3.3.1.min.js"></script>
    <script src="/papa/static/js/popper.min.js"></script>
    <script src="/papa/static/js/bootstrap.min.js"></script>
    <script src="/papa/static/js/zad1.js"></script>
    <script src="/papa/static/js/zad2.js"></script>
    <script src=/papa/static/js/functions.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<section>
        <header class='header'>
      <div class="flexwrapper">
      <a href="/ ">
                  <p class="logo" style="font-size: 30px;"> Hamanie<span class="form-heading_accent">C</span></p>
      </a>

    <nav class="navigation">
{% if not request.user.is_authenticated %}
      <a href="#Features" class="part">Features</a>
      <a href="#About" class="part">About</a>
{#      <a href="#head3" class="part">Contact</a>#}
{#               {% if  request.user.is_authenticated %}#}
{#            <a href="/project" class="part">Visit</a>#}
    {% endif %}

                   {% if request.user.is_authenticated %}
    </nav>
{% endif %}
           {% if not request.user.is_authenticated %}

        <a href="/login" class="part">Sign up</a>
    </nav>


<div>


           {% else  %}
                         <div class="login">
                             <h1 class="text1">Hello {{ request.user.username }}!</h1>
                         </div>
               <a href="logout" class="text-decoration-none">
                            <button  type="button" class="button_main">

                     Logout
                            </button>
                            </a>
           {% endif %}

</div>
        </header>
</section>
                   {% if not request.user.is_authenticated %}
<section class="section2">
<h2 id="Features" class="header_features">Features </h2>


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Comfort')">Comfort</button>
  <button class="tablinks" onclick="openCity(event, 'Speed ')">Speed </button>
  <button class="tablinks" onclick="openCity(event, 'Free')">Free</button>
</div>


<div id="Comfort" class="tabcontent">

  <p>Plan your expenses and income. Make projections and monitor your budget.</p>

</div>

<div id="Speed " class="tabcontent">

  <p>Plan your expenses and income. Make projections and monitor your budget.</p>
</div>

<div id="Free" class="tabcontent">

  <p>Plan your expenses and income. Make projections and monitor your budget.</p>
</div>

</section>

<section>

</section>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <section class="section3">
                    <div style="margin-right: auto;margin-left: auto; margin-top: 15%">
                                                        <a href="/project"  >
                                    <button  type="button" class="button_log ">
Get Started Now!!!
                            </button>
                                </a>
                    </div>


                    </section>
                {% endif %}
            {% if not request.user.is_authenticated %}
                    <section class="section3" style="margin-top: 40%">
                    <div class="text2" id="About">
                        Plan your expenses and income. Make projections and monitor your budget.Stay on track with your monthly budget by showing how much you’ve already spent
                    </div>
                    <div >
                                                        <a href="/registration"  >
                                    <button  type="button" class="button_log ">
Sign up
                            </button>
                                </a>
                    </div>


                    </section>
            {% endif %}

{#<script src="/static/js/jquery-3.3.1.min.js"></script>#}
{#<script src="/static/js/popper.min.js"></script>#}
{#<script src="/static/js/bootstrap.min.js"></script>#}
{#<script src="/static/js/zad1.js"></script>#}
{#<script src="/static/js/zad2.js"></script>#}
{#<script src="/static/js/functions.js"></script>#}
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>
{#<script>#}
{#    const anchors = document.querySelectorAll('a[href*="#"]')#}
{##}
{#    for (let anchor of anchors) {#}
{#        anchor.addEventListener('click', function (e) {#}
{#            e.preventDefault()#}
{##}
{#            const blockID = anchor.getAttribute('href').substr(1)#}
{##}
{#            document.getElementById(blockID).scrollIntoView({#}
{#                behavior: 'smooth',#}
{#                block: 'start'#}
{#            })#}
{#        })#}
{#    }#}
{##}
{##}
{#</script>#}
</body>
</html>
