.header {

    display: flex;

    justify-content: center;
    background: #004085;
}
.part {
  font-family: Raleway;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #dfdfdf;
  text-decoration: none;
  padding: 4px 0;
}

.part:not(:first-child) {
  margin-left: 22px;
}

.part:hover {
  border-bottom: 2px solid #fff;
}

.flexwrapper {
  display: flex;
  max-width: 1140px;
  width: 100%;
  padding: 0 10px;
}
.navigation {
  margin: auto 0 auto auto;
}
.logo {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

.form-heading_accent {
  color: #6610f2;
}

.form {

    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    /*margin: auto 20px auto auto;*/
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

.form-heading {
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333;
    background-color: #FFFFFF;
    padding: 16px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.form-heading_accent {
  color: #cb2dc2;
}

.form-inputs {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 56px;
}

.form-inputs-item {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  width: 67%;
  border: none;
  padding-bottom: 19px;
  outline: none;
  border-bottom: 1px solid #dfdfdf;
    margin-top: 28px;
}

.form-inputs-item:first-child {
  margin-top: 0px;
}

.form-inputs-item:focus {
  border-bottom-color: #333;
}

.form-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  background-color: #cb2dc2;
  padding: 18px 0;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;

  transition: all 0.3s linear;
}

.form-button:hover,
.form-button:focus {
  font-size: 18px;
  background-color: #EC7979;
}

.section-login{
    position: absolute;
    width: 100%;
    height: 1200px;
    /*background: #b1dfbb;*/
    background: url(../images/Fin3v1.png) no-repeat;;
    background-size: 100%;
}